{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SoundSooth</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{% static 'css/select.css' %}" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
  <script src = "{% static "javascript/imageCheckBox.js" %}"></script>
  {% comment %} <link rel="stylesheet" href="{% static "css/imageSlider.css" %}" />
  <script src="{% static "javascript/imageSlider.js" %}"></script> {% endcomment %}
  
  <style> 
  
   .col-md-3{
    float: left;
  }
  .browse-grid {
   width: 16.66%;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 0%;
    margin-bottom: 2%;
    position: relative;
    padding-left: 0;
}
.browse-grid img {
    width: 100%;
	border-radius:0.3em;
	-o-border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
}
.browse-grid:nth-child(6),.browse-grid:nth-child(12) {
    margin-left: 0%;
}
.browse {
    padding: 1em 0 0 0;
}
i.fa.fa-play-circle-o {
    position: absolute;
    top:30%;
    left: 40%;
    color: #fff;
    font-size: 3em;
}
a.sing {
    color: #444;
    font-size: 1.4em;
    font-weight:400;
    display: block;
    padding-top: 20px;
	    font-family: 'MavenPro-Regular';
}
a.sing:hover{
 color:#EA57A3;
 text-decoration:none;
}
.tittle-head.two {
    margin-bottom: 1em;
}
h4.tittle.third {
    float: right;
    margin-right:1%;
}
.browse-grid img:hover {
    opacity: 0.8;
}
</style>
    
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo center">SoundSooth</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'acc:register' %}">Register</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'acc:user_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'acc:user_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block body_block %} 
    {% endblock %}
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="browse">
  <div class="tittle-head two">
    <h3 class="tittle">New Releses <span class="new">New</span></h3>
    <a href="browse.html"><h4 class="tittle third">See all</h4></a>
    <div class="clearfix"> </div>
  </div>

  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/alanc.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
    <a class="sing" href="#">Different World</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/katy.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Prism</a>
  </div>
<div class="col-md-3 browse-grid">
  <a  href="#"><img src="{% static "images/true.jpg" %}" title="allbum-name"></a>
   <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Avicii</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/imagine.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Evolve</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/v1.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Adele21</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/a10.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Sunidhi Chauhan</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/divideed.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Divide</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/loud.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
    <a class="sing" href="#">Loud</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/a9.jpg" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Arijit Singh</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/chain.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Shomlock</a>
  </div>
  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/duac.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Dua Lipa</a>
  </div>
  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/camilac.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Havana</a>
  </div>
        <div class="clearfix"> </div>
    </div>


<div class="browse">
  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/a12.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
    <a class="sing" href="#">Mere Liye tum kafi ho<i class="fas fa-chess-king-alt    "></i></a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/harry.png" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Harry Styles</a>
  </div>
<div class="col-md-3 browse-grid">
  <a  href="#"><img src="{% static "images/americanteen.jpg" %}" title="allbum-name"></a>
   <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">American Teen</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/reputation.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Reputation</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/selenac.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Wolves</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/billic.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Bad Guy</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/v88.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Sam Smith</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/avicii.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
    <a class="sing" href="#">Avicii</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/12.jpg" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Pritam</a>
  </div>
<div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/zayn.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Zayn Malik</a>
  </div>
  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/v6.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Fifty Shades Of Grey</a>
  </div>
  <div class="col-md-3 browse-grid">
    <a  href="#"><img src="{% static "images/nialc.jpg" %}" title="allbum-name"></a>
     <a href="#"><i class="fa fa-play-circle-o" style="font-size:100px;"></i></a>
      <a class="sing" href="#">Niall Horan</a>
  </div>
        <div class="clearfix"> </div>
    </div>


    
<!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
      </div>
      <!-- Grid row-->
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-sm-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid col -->
        <div class="col-sm-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">SoundSooth</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Let the Music Speak!</p>
        </div>

        <div class="col-sm-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">smBootstrap</a>
          </p>
        </div>

        <div class="col-sm-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
        </div>
        <div class="col-sm-4 col-lg-3 col-xl-3 mx-auto mb-sm-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid col -->
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    </div>
  </footer>
</body>

</html>