{% extends "base.html" %} 
{% block body_block %}
  {% for albums in album %}
    <img src="{{ albums.image.url }}">
    <ul>
      <li style="list-style-type:disc;"><h3>{{ albums.album_name }}</h3></li>
    </ul>
  {% endfor %}  
  {% comment %} <img src="{{ song.image.url }}">
  <br>
  <br>
  <audio controls="controls">
        <source src="{{ song.song_path.url }}" type="audio/mpeg" />
  </audio> {% endcomment %}
  
  {% comment %} <div class="container">
  <h2>SoundSooth</h2>
  <section class="customer-logos slider">
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
      <div class="slide"><img src="{{ song.image.url }}"></div>
  </section> 
  </div> {% endcomment %}
{% endblock %}
