{% extends "base.html" %}
{% load static %} 
{% block body_block %}
  {% comment %} {% for albums in album %}
    <img src="{{ albums.image.url }}">
    <ul>
      <li style="list-style-type:disc;"><h3>{{ albums.album_name }}</h3></li>
    </ul>
  {% endfor %}  {% endcomment %}
	<link rel = "stylesheet" href = "{% static 'css/homePage.css' %}">
  <div class="browse">
  <div class="tittle-head two">
    <h3 class="tittle">New Releases </h3>
    <a href="browse.html"><h4 class="tittle third">See all</h4></a>
    <div class="clearfix"> </div>
  </div>

	{% for albums in album %}
  <div class="col-md-3 browse-grid">
    <a href="{% url 'music:specificAlbum' albums.album_name %}"><img src="{{ albums.image.url }}" title="allbum-name"></a>
    <a href="{% url 'music:specificAlbum' albums.album_name %}"><i class="fa fa-play-circle-o" style="font-size:60px;"></i></a>
    <a class="sing" href="#">{{ albums.album_name }}</a>
  </div>
	{% endfor %}
  <div class="clearfix"> </div>
  </div>

{% endblock %}
