{% extends "base.html" %}
{% load static %}
{% block body_block %}
<h1>Listen to your radio here</h1>
<div class="jumbotron">
  <div class="container">

    <div class="row" >
      <div style="margin-left:0px;">
        <img src="{% static 'images/rr.png' %}">
      </div>
      <div class="col-sm-1">
        <h2 >Radio</h2>
      <span>Pick a mood,song,artist.We'll play the perfect mix !</span>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <a  href="#"><img src="{% static 'images/true.jpg' %}" class="k" alt="Avatar" style="width:100px"></a>
        <a class="ll" href="#">Different World</a>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <a  href="#"><img src="{% static 'images/true.jpg' %}" class="k" alt="Avatar" style="width:100px"></a>
        <a class="ll" href="#">Different World</a>
      </div>
      
      <div class="col-sm-1">
        <a  href="#"><img src="{% static 'images/true.jpg' %}" class="k" alt="Avatar" style="width:100px"></a>
        <a class="ll" href="#">Different World</a>
      </div> 
      <div class="col-sm-1">
        <div class="col-sm-1"></div>
        <button type="button" class="btn btn-primary ">MORE STATIONS</button>
      </div>
      

    </div>
  </div>
</div>

{% endblock %}